.enviar{
    border-radius: 10px;
    color: white;
    background: black;
}

.contenedor-botton{
    background:lightblue;
    width:300px;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding:15px 20px 20px 15px;
}

body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
}